
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">ADDON AND RENTALS</h4>
        </div>

    </div>
    <div class="row" id="add-on-section" style="display: block;">
        <div class="col-sm-12">
            <div class="white-box p-l-20 p-r-20">

                <div class="row">
                    <div class="col-md-12">
                        <form class="floating-labels " #section="ngForm" name="section" id="section">
                            <div style="height:310px">
                                <div class="form-group m-b-5" style="    width: 45%;float: left;">
                                    <h4 class="box-title">Price include</h4>
                                    <p class="text-muted  font-13"></p>
                                    <div class="switchery-demo m-b-30">
                                        <ng-container *ngFor="let list of commodities;let i=index">
                                            <ng-container *ngIf="i<5">
                                                <div>{{list}}:</div> <input  type="checkbox" (change)="clickMulti(list)" [value]="list" name="ck{{i}}" id="ck{{i}}" class="js-switch" data-color="#3d3b3b" />

                                            </ng-container>
                                        </ng-container>
                                    </div>

                                    <span class="bar"></span>
                                    <small class="form-text text-muted"></small>
                                </div>
                                <div class="form-group m-b-5" style="    width: 45%;float: right;">
                                    <p class="text-muted  font-13"></p>
                                    <div class="switchery-demo m-b-30">
                                        <ng-container *ngFor="let list of commodities;let i=index">
                                            <ng-container *ngIf="i>=5">
                                                <div>{{list}}:</div> <input  type="checkbox" (change)="clickMulti(list)" [value]="list" name="ck{{i}}" id="ck{{i}}" class="js-switch" data-color="#3d3b3b" />
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <span class="bar"></span>
                                    <small class="form-text text-muted"></small>
                                </div>
                            </div>

                            <div class="form-group m-b-40" *ngIf="others">



                                <div class="form-group m-b-40">
                                    <input type="text" [(ngModel)]="data.others" class="form-control" id="hole_9_price_other" required="" name="hole_9_price_other">
                                    <span class="highlight"></span> <span class="bar">Seperate by comma </span>
                                    <label for="hole_9_price">Others</label>
                                </div>
                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                            </div>
                            <div style="height:50px"></div>
                            <div class="form-group m-b-5">
                                <textarea class="form-control" [(ngModel)]="data.cancel_policy" name="cancel_policy" rows="4" id="cancel_policy" required></textarea><span class="highlight"></span> <span class="bar"></span>
                                <label for="cancel_policy">Cancellation Policy</label>
                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                            </div>
                            <div style="height:50px"></div>
                            <div class="form-group m-b-5">
                                <textarea class="form-control" [(ngModel)]="data.tnc" name="tnc" rows="4" id="tnc" required></textarea><span class="highlight"></span> <span class="bar"></span>
                                <label for="tnc">Any Other TNC</label>
                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                            </div>
                            <div class="form-group m-b-40">
                                <h4 class="box-title">Booking Condition</h4>
                                <p class="text-muted  font-13"></p>
                                <span style="width: 45%;float: left;">
                                     Minimum Golfer Weekdays
                                <select class="form-control p-0"   [(ngModel)]="data.min_weekdays" name="min_weekdays" required>
                                    <ng-container *ngFor="let list of minGolf;let j=index">
                                        <option value="{{list}}">{{list}}</option>
                                    </ng-container>
                                </select>
                                </span>
                               <span style="width: 45%;float: left;">
                                   Minimum Golfer Weekend
                                <select class="form-control p-0"   [(ngModel)]="data.min_weekends" name="min_weekends" required>
                                    <ng-container *ngFor="let list of minGolf;let j=index">
                                        <option value="{{list}}">{{list}}</option>
                                    </ng-container>
                                </select>
                               </span>

                            </div>

                            <div style="height:100px"></div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><a routerLink="/golf-course/section-4">Back</a></button>
                                <button style="    float: right;" type="submit" (click)="save(section,true)" class="btn btn-success waves-effect waves-light m-r-10"  *ngIf="environment.random.userDetail&&environment.random.userDetail.gc_basic_info.cancel_policy">Update & Continue</button>

                                <button style="    float: right;" type="submit" (click)="save(section)" class="btn btn-success waves-effect waves-light m-r-10"  *ngIf="environment.random.userDetail&&environment.random.userDetail.gc_basic_info&&!environment.random.userDetail.gc_basic_info.cancel_policy">Submit & Continue</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="rental-section" style="display: none;">
        <div class="col-sm-12">
            <div class="white-box p-l-20 p-r-20">
                <h3 class="box-title m-b-0">Rentals<button style="    float: right;"  class="btn btn-success waves-effect waves-light m-r-10" (click)="addNew()">Add New</button></h3>
                <p class="text-muted m-b-30 font-13"></p>
                <div class="row">
                    <div class="col-md-12">
                        <form class="floating-labels " #section1="ngForm" name="section1" id="section1">


                            <h3 class="box-title"></h3>
                            <div style="height:200px">
                                <ng-container *ngFor="let list of data.pricecommodities;let k=index">
                                    <div class="form-group m-b-5" style="    background-color: white;">
                                        <input type="text" class="form-control" disabled style="float: left;width:45%;background-color: white;" placeholder="Name" value="{{list.name}}" name="listdities_id{{k}}" id="listdities_id{{k}}">
                                        <span class="highlight"></span> <span class="bar"></span>
                                    </div>
                                    <div class="form-group m-b-5" >
                                        <input type="number" class="form-control" style="float: right;width:45%;" placeholder="Price" [(ngModel)]="data.pricecommodities[k].price" name="pricecommoditiesprice{{k}}"  id="pricecommoditiesprice{{k}}">
                                        <!--<span class="highlight"></span> <span class="bar"></span>-->
                                    </div>


                                </ng-container>




                            </div>
                            <ng-container *ngFor="let list of data.newcommodities;let i=index">
                                <div class="form-group m-b-5" >
                                    <input type="text" class="form-control" style="float: left;width:45%;"  placeholder="Name" [(ngModel)]="data.newcommodities[i].name" name="newcommodities_name{{i}}" id="newcommodities_name{{i}}"><span class="highlight"></span> <span class="bar" style="width: 45%;"></span>
                                </div>
                                <div class="form-group m-b-5" >
                                    <input type="number" class="form-control" style="float: right;width:45%;"  placeholder="Price" [(ngModel)]="data.newcommodities[i].price" name="newcommodities_price{{i}}"  id="newcommodities_price{{i}}"><span class="highlight"></span> <span class="bar" style="width: 45%;float:right"></span>
                                </div>

                                <div style="height:60px"></div>
                            </ng-container>




                            <div class="form-group bk">
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><a routerLink="/golf-course/section-4">Back</a></button>
                                <button style="    float: right;" type="submit" (click)="saverental(section1,true)" class="btn btn-success waves-effect waves-light m-r-10" [hidden]="environment.random.userDetail&&environment.random.userDetail.extras_info&&environment.random.userDetail.extras_info.length==0">Update & Continue</button>
                                <button style="    float: right;" type="submit" (click)="saverental(section1,false)" class="btn btn-success waves-effect waves-light m-r-10" [hidden]="environment.random.userDetail&&environment.random.userDetail.extras_info&&environment.random.userDetail.extras_info.length>0">Submit & Continue</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div (ngInit)="setValue()" *ngIf="environment.random.userDetail"></div>


