<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">MANAGE SLOTS</h4>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box p-l-20 p-r-20">
                <!--<h3 class="box-title m-b-0">MANAGE SLOTS</h3>-->
                <!--<p class="text-muted m-b-30 font-13"></p>-->
                <div class="row">
                    <div class="col-md-12">
                        <form class="floating-labels " #section1="ngForm" name="section1" id="section1">


                            <div class="form-group m-b-40">
                                <h4 class="box-title"> SLOT TYPE</h4>
                                <p class="text-muted  font-13"></p>
                                <div class="switchery-demo m-b-30">
                                    <div class="str_rdio">
                                        <input type="radio" [(ngModel)]="data.type"  value="seasons" name="type"  id="type_season2" />
                                        <label for="type_season2">
                                            <h2>Season</h2>
                                            <!--<p>{{list.name}}</p>-->
                                        </label>
                                    </div>
                                    <div class="str_rdio">
                                        <input type="radio" [(ngModel)]="data.type"  value="date" name="type"  id="type_date1" />
                                        <label for="type_date1">
                                            <h2>Date</h2>
                                            <!--<p>{{list.name}}</p>-->
                                        </label>
                                    </div>



                                </div>
                                <span class="bar"></span>
                                <small class="form-text text-muted"> </small>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-sm-12">
            <div class="white-box p-l-20 p-r-20">
                <h3 class="box-title m-b-0">MANAGE SLOTS</h3>
                <p class="text-muted m-b-30 font-13"></p>
                <div class="row" [hidden]="data.type=='date'">
                    <div class="col-md-12">
                        <form class="floating-labels " #section2="ngForm" name="section2" id="section2">


                            <div class="form-group m-b-40" *ngIf="data.season_info">
                                <select class="form-control p-0" (change)="getdata()" style="width: 40%;float: left;" [(ngModel)]="current.name" name="season_name" required>
                                    <ng-container *ngFor="let list of data.season_info;let j=index">
                                        <option required value="{{list.id}}"  class="season_cls">{{list.name}}</option>
                                    </ng-container>
                                </select>
                                <select class="form-control p-0"  (change)="getdata();setCheck(current.date==environment.random.keys['others']['weekend']?data['weekends']:data['weekdays']);" style="width: 30%;float: left;"  [(ngModel)]="current.date" name="season_name1" required>
                                    <ng-container *ngFor="let list of days;let j=index">
                                        <option required value="{{list.id}}"  class="season_cls">{{list.name}}</option>
                                    </ng-container>
                                </select>

                                <div class="multiselect" [hidden]="current.date==environment.random.keys['others']['weekend']" >
                                    <div class="selectBox" onclick="showCheckboxes('checkboxes1')">
                                        <select>
                                            <option>Select Weekday Days</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="checkboxes1">
                                        <ng-container *ngFor="let list of data['weekdays'];let j=index">
                                            <label for="{{list}}">
                                                <input type="checkbox"  (click)="checkMultiple(list);getdata()" id="{{list}}" />{{list}}</label><br/>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="multiselect" [hidden]="current.date!=environment.random.keys['others']['weekend']">
                                    <div class="selectBox" onclick="showCheckboxes('checkboxes2')">
                                        <select>
                                            <option>Select Weekend Days</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="checkboxes2">
                                        <ng-container *ngFor="let list of data['weekends'];let j=index">
                                            <label for="{{list}}">
                                                <input type="checkbox"  (click)="checkMultiple(list);getdata()" id="{{list}}" />{{list}}</label><br/>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
                <div class="row" [hidden]="data.type=='seasons'">
                    <input type="text" required  (change)="getdata(true);"  [(ngModel)]="current.date_val" class="flatpickr cls " placeholder="Select Date" name="end_time" id="end_date" />

                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-sm-12">
            <form class="floating-labels " #section="ngForm" name="section" id="section">

            <div class="white-box">
                <!--<h3 class="box-title m-b-0">Data Table</h3>-->
                <!--<p class="text-muted m-b-30">Data table example</p>-->
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Slot Time</th>
                            <th>Holes</th>
                            <th>9 Hole Price</th>
                            <th *ngIf="is_hole_18">18 Hole Price</th>
                            <th>Status</th>
                            <th>Save Changes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let list of slots;let i=index" id="slot_tr{{i}}">
                            <ng-container >
                                <td>{{list.tee_time}}</td>
                                <td *ngIf="is_hole_18&&is_hole_9">
                                    <select class="form-control p-0"  [(ngModel)]="slots[i].holes" name="holes{{i}}" required>
                                        <option value="9" >9</option>
                                        <option value="18" >18</option>
                                        <option value="BOTH" >Both</option>
                                    </select>
                                </td>
                                <td *ngIf="((is_hole_18&&!is_hole_9)||(!is_hole_18&&is_hole_9))">
                                    {{slots[i].holes}}
                                </td>


                                <td *ngIf="is_hole_9"><input type="number" disabled="{{(slots[i].holes=='18')}}" class="mnge_input" required="{{slots[i].slot_status=='OPEN'?true:false}}" [(ngModel)]="slots[i].hole_9_price"  placeholder="Add a Price" name="price_9{{i}}" /></td>

                                <td *ngIf="is_hole_18"><input type="number" disabled="{{(slots[i].holes=='9')}}" class="mnge_input" required="{{slots[i].slot_status1=='OPEN'?true:false}}" [(ngModel)]="slots[i].hole_18_price"  placeholder="Add a Price" name="price_18{{i}}" /></td>


                                <td *ngIf="slots[i].slot_status=='WEEKLY_OFF'">{{slots[i].slot_status}}</td>

                                <td *ngIf="slots[i].slot_status!='WEEKLY_OFF'&&(is_hole_18||is_hole_9)">
                                    <select class="form-control p-0"  [(ngModel)]="slots[i].slot_status" name="status{{i}}" required>
                                        <option value="OPEN" >OPEN</option>
                                        <option value="CLOSED" >CLOSED</option>
                                        <option value="RESERVED" >RESERVED</option>
                                        <option value="BOOKED" >BOOKED</option>
                                        <!--<option value="WEEKLY_OFF">WEEKLY_OFF</option>-->
                                    </select>
                                </td>


                                <td>
                                    <a href="javascript:void(0);" style="text-align: center;" (click)="save(i)">SAVE</a>
                                </td>
                            </ng-container>


                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
                </form>
        </div>

    </div>
</div>

<div (ngInit)="setValue()" *ngIf="environment.random.userDetail&&environment.random.keys&&environment.random.keys['others']"></div>


