

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">UPDATE PROFILE</h4>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box p-l-20 p-r-20">
                <div class="row">
                    <div class="col-md-12">
                        <form class="floating-labels " #section="ngForm" name="section" id="section">
                            <div class="col-sm-12">
                                <h3 class="box-title">About</h3>
                                <div >
                                    <input class="summernote" type="text"  [(ngModel)]="data.about" id="about" name="about" />
                                </div>
                            </div>
                            <div class="form-group m-b-40">
                                <div *ngFor="let list of ">
                                    <input type="text" [(ngModel)]="data.website_url" class="form-control" id="website_url" name="website_url">

                                    <span class="bar"></span>
                                    <small class="form-text text-muted"></small>
                                    <label for="website_url">Website</label>
                                </div>
                            </div>
                            <div class="form-group m-b-40">
                                <input type="text" [(ngModel)]="data.name" class="form-control" id="name" required="" name="name">

                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                                <label for="contact_name">Contact Name</label>
                            </div>
                            <div class="form-group m-b-40">
                                <div *ngFor="let list of ">
                                    <input type="text" [(ngModel)]="data.designation" class="form-control" id="designation"  name="designation">

                                    <span class="bar"></span>
                                    <small class="form-text text-muted"></small>
                                    <label for="designation">Designation</label>
                                </div>
                            </div>
                            <div class="form-group m-b-40">
                                <input type="number" [(ngModel)]="data.mobile" class="form-control" id="contact_mobile" required="" name="contact_mobile">

                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                                <label for="contact_mobile">Mobile</label>
                            </div>

                            <div class="form-group m-b-40">
                                <textarea [(ngModel)]="data.address_line_1" class="form-control" id="address_line_1"  name="address_line_1"></textarea>

                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                                <label for="address_line_1">Address 1</label>
                            </div>
                            <div class="form-group m-b-40">
                                <textarea [(ngModel)]="data.address_line_2" class="form-control" id="address_line_2"  name="address_line_2"></textarea>

                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                                <label for="address_line_2">Address 2</label>
                            </div>

                            <div class="form-group m-b-40">
                                <input type="text" pattern='(^https://www.facebook.com/[A-Za-z0-9._%+-]+$|"")' [(ngModel)]="data.facebook_url" class="form-control" id="facebook_url"  name="facebook_url">

                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                                <label for="facebook_url">Facebook URL</label>
                            </div>
                            <div class="form-group m-b-40">
                                <input type="text" pattern='(^https://www.twitter.com/[A-Za-z0-9._%+-]+$|"")' [(ngModel)]="data.twitter_url" class="form-control" id="twitter_url" name="twitter_url">

                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                                <label for="twitter_url">Twitter URL</label>
                            </div>
                            <div class="form-group m-b-40">
                                <input type="text" pattern='(^https://www.instagram.com/[0-9A-z._-]+$|"")' [(ngModel)]="data.insta_url" class="form-control" id="insta_url" name="insta_url">

                                <span class="bar"></span>
                                <small class="form-text text-muted"></small>
                                <label for="insta_url">Instagram URL</label>
                            </div>

                            <h3 class="box-title">Week days Working Hours</h3>
                            <div class="form-group m-b-40">
                                <input type="text" placeholder="Start Time" style="float:left;width:45%"  [(ngModel)]="data.weekday_hrs.start_time" class="form-control cls_set cls" id="weekday_hrs_start_time" name="weekday_hrs_start_time">

                                <input type="text" placeholder="End Time" style="right:right;width:45%"  [(ngModel)]="data.weekday_hrs.end_time" class="form-control cls_set cls" id="weekday_hrs_end_time" name="weekday_hrs_end_time">
                            </div>
                            <h3 class="box-title">Weekend Working Hours</h3>
                            <div class="form-group m-b-40">
                                <input type="text" placeholder="Start Time" style="float:left;width:45%"  [(ngModel)]="data.weekend_hrs.start_time" class="form-control cls_set cls" id="weekend_hrs_start_time" name="weekend_hrs_start_time">
                                <input type="text" placeholder="End Time" style="right:right;width:45%"  [(ngModel)]="data.weekend_hrs.end_time" class="form-control cls_set cls" id="weekend_hrs_end_time" name="weekend_hrs_end_time">
                            </div>
                            <div class="form-group m-b-40">
                                <input type="file" placeholder="Logo"  [(ngModel)]="image" name="logo" (change)="changeImg($event)" class="form-control">
                            </div>
                            <div class="form-group bk">
                                <button style="    float: right;" type="submit" (click)="_saveAll(section,true)" class="btn btn-success waves-effect waves-light m-r-10" *ngIf="environment.random.userDetail&&environment.random.userDetail.basic_info&&environment.random.userDetail.basic_info.about">Update & Continue</button>

                                <button style="    float: right;" type="submit" (click)="_saveAll(section,false)" class="btn btn-success waves-effect waves-light m-r-10" *ngIf="environment.random.userDetail&&environment.random.userDetail.basic_info&&!environment.random.userDetail.basic_info.about">Submit & Continue</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div (ngInit)="setValue()" *ngIf="environment.random.userDetail"></div>





