
<div (ngInit)="setValue()" *ngIf="environment.random.userDetail"></div>



<div style="height: 650px;">

    <form #section_1="ngForm" name="section_1" id="section_1">
        <div>

            <div style="float:left;width:50%">


                <div >
                    <div class="add-events-top-section-text wid_90">Choose a currency</div>

                    <div class="event_lft_mrgn wid_90">
                        <div class="wid_90 nice-select nice-select-evnt " tabindex="0" id="currency" onclick="$('#currency').toggleClass('open')">
                            <span class="current">{{data.currency?data.currency:'Currency'}}</span>
                            <ul class="list">
                                <li *ngFor="let list of currency"  (click)="data.currency=list" [class]="data.currency==list?'option selected focus':'option'" value="{{list}}">{{list}}</li>
                            </ul>
                        </div>
                    </div>
                    <span class="event-supporting-text">(choose a currency for price)</span>
                </div>
                <div >
                    <div class="add-events-top-section-text wid_90">Choose a time zone</div>
                    <div class="event_lft_mrgn wid_90">
                        <div class="wid_90 nice-select nice-select-evnt " tabindex="0" id="timezone" onclick="$('#timezone').toggleClass('open')">
                            <span class="current">{{data.timezoneName?data.timezoneName:'Time Zone'}}</span>
                            <ul class="list">
                                <li *ngFor="let list of timezone"  (click)="data.timezone=list.offset;data.timezoneName=list.text" [class]="data.timezone==list.offset?'option selected focus':'option'" >{{list.text}}</li>
                            </ul>
                            <span *ngIf="data.timezone&&timezone.length>0" (ngInit)="setTimeZone()"></span>
                        </div>
                    </div>
                    <span class="event-supporting-text">(choose a timezone)</span>
                </div>
                <div >
                    <div class="add-events-top-section-text wid_90">Choose type of holes</div>
                    <div class="switchery-demo m-b-30">
                        <div class="lft_chk">9 holes </div><div class="center_t"><input   type="checkbox" (change)="setCheckBox(true)" [(ngModel)]="data.hole_9" [value]="true"  id="hole_9" name="9_holes" class="js-switch" data-color="#3d3b3b" /></div>
                    </div>
                    <div class="switchery-demo m-b-30">
                        <div class="lft_chk"> 18 holes </div><div class="center_t"><input type="checkbox" (change)="setCheckBox(true)" [(ngModel)]="data.hole_18" [value]="true"  id="hole_18" name="18_holes" class="js-switch" data-color="#3d3b3b" /></div>
                    </div>
                    <span class="event-supporting-text">(choose type of holes)</span>
                </div>


            </div>
            <div style="float:left;width:50%">
                <div >
                    <div class="add-events-top-section-text wid_90">Choose slots</div>

                    <div class="event_lft_mrgn wid_90">
                        <div class="wid_90 nice-select nice-select-evnt " tabindex="0" id="slots" onclick="$('#slots').toggleClass('open')" >
                            <span class="current">{{data.duration?data.duration+' Months':'Duration'}}</span>
                            <ul class="list">
                                <ng-container *ngFor="let list of slotMonths">
                                    <li   (click)="data.duration=list" [class]="data.duration==list?'option selected focus':'option'"  *ngIf="list<13">{{list}} Months</li>

                                </ng-container>
                            </ul>
                        </div>
                    </div>
                    <span class="event-supporting-text">(choose month from when booking can be made )</span>
                </div>

                <div >
                    <div class="add-events-top-section-text wid_90">Select Tee</div>

                    <div class="event_lft_mrgn wid_90">
                        <div class="wid_90 nice-select nice-select-evnt " tabindex="0" id="tee_slot" onclick="$('#tee_slot').toggleClass('open')">
                            <span class="current">
                                <ng-container *ngFor="let list of data.tee;let i=index;">
                                    {{i==0?list:", "+list}}
                                </ng-container>
                            </span>
                            <ul class="list">
                                <li *ngFor="let list of slotMonths">
                                    <label for="slots_{{list}}" >
                                        <input type="checkbox" (click)="clickMulti(list)"  id="slots_{{list}}" />{{list}}
                                    </label>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <span class="event-supporting-text">(choose max 2 tee slot)</span>
                </div>
                <div >
                    <div class="add-events-top-section-text wid_90">Players Type</div>
                    <div class="switchery-demo m-b-30">
                        <div class="lft_chk">Online </div><div class="center_t"><input type="checkbox" [(ngModel)]="data.online" [value]="true" name="online" id="online" class="js-switch" data-color="#3d3b3b" /></div>
                    </div>   <div class="switchery-demo m-b-30">
                        <div class="lft_chk"> Member </div><div class="center_t"><input type="checkbox" [(ngModel)]="data.member" [value]="true" name="member" id="member" class="js-switch" data-color="#3d3b3b" /></div>
                    </div>        <div class="switchery-demo m-b-30">
                        <div class="lft_chk"> Guest </div><div class="center_t"><input type="checkbox" [(ngModel)]="data.guest" [value]="true" name="guest" id="guest" class="js-switch" data-color="#3d3b3b" /></div>
                    </div>
                    <span class="event-supporting-text">(choose the type of players allowed)</span>
                </div>
            </div>

        </div>

        <div class="cl_height_15"></div>
        <div class="add_gray_full_wrapper">
            <div class="content_container">

                <button type="button" (click)="save_1(section_1)" class="event-filled_button" *ngIf="environment.random.userDetail&&environment.random.userDetail.gc_basic_info&&!environment.random.userDetail.gc_basic_info.time_zone">Submit & Continue</button>

                <button  type="button" (click)="update(section_1)" class="event-filled_button" *ngIf="environment.random.userDetail&&environment.random.userDetail.gc_basic_info&&environment.random.userDetail.gc_basic_info.time_zone">Update & Continue</button>

            </div>
        </div>

    </form>

</div>


